/* Сбрасываем фон для body */
body {
    background-color: initial !important;
}

/* Стили для кнопок */
.btn.btn-custom {
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 0;
    color: white;
}

.btn.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 0;
    color: white;
}

.btn.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn.btn-outline-custom {
    color: #28a745;
    border-color: #28a745;
    border-radius: 0;
}

.btn.btn-outline-custom:hover {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

input[type="radio"]{
        width: 1.2em;
        height: 1.2em;
        border: 3px solid;
}
