{% extends "base_page.html" %}
{% load static %}

{% block page-title %}
Список музыкальных терминов
{% endblock %}

{% block page-lead %}
Содержимое для тестирования:
{% endblock %}

<!--{% block head %}-->
<!--<link rel="stylesheet" href="{% static 'css/terms_table.css' %}">-->
<!--{% endblock %}-->

{% block content %}
<div class="row px-5 py-2">
            <a href="/" class="btn btn-outline-custom btn-lg px-4">
                        На главную
            </a>
        </div>
<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive terms-table-container">
        <table class="table terms-table terms-table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">id</th>
              <th scope="col" class="py-3">Термин</th>
              <th scope="col" class="py-3">Описание</th>
              <th scope="col" class="py-3">Автор</th>
            </tr>
          </thead>
          <tbody>
            {% for id, m_term, description, author in terms %}
            <tr>
                <td class="py-3">{{ id }}</td>
                <td class="py-3">{{ m_term }}</td>
                <td class="py-3">{{ description }}</td>
                <td class="py-3">{{ author }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}